<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ user.username }}"><br>
        
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}"><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}"><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}"><br>

        <label for="bio">Bio:</label>
        <textarea id="bio" name="bio">{{ user.userprofile.bio }}</textarea><br>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" value="{{ user.userprofile.address }}"><br>

        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" value="{{ user.userprofile.phone_number }}"><br>

        <label for="profile_picture">Profile Picture:</label>
        <input type="file" id="profile_picture" name="profile_picture"><br>

        <label for="password">New Password:</label>
        <input type="password" id="password" name="password"><br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password"><br>

        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
